<section id="featured">
  <div class="col1">
  </div><!--
  --><div class="col2">
  </div>
</section>

<section id="archived_1">
  <div class="col1">
    <div class="header_box">
      <h2>THE PROTO REPORT</h2>
    </div>
    <div class="articles">
      <div id="latest">
        <img src=""></img>
        <h2 id="latest_header">LATEST ON PROTO BLOG</h2>
        <ul></ul>
      </div><!--
      --><div id="news" class="article_links"><ul></ul></div><!--
      --><div id="blogs" class="article_links"><ul></ul></div><!--
      --><div id="history" class="article_links"><ul></ul></div>
    </div>
  </div><!--

  --><div class="col2">
    <div id="most_read">
      <h4>MOST READ</h4>
      <img src=""></img>
      <ol></ol>
    </div>
    <div id="tipsheets">
      <h2>NES TIPSHEETS</h2>
      <div class="slideshow">
        <div class="left_arrow nav_arrow">
          <div class="arrow_body"></div>
          <div class="arrow_shadow"></div>
        </div>
        <ul>
          <li><a href="#" class="tipsheet_link_tag" data-id="1"><img src="/images/games/mm1/title.png" /></a></li>
          <li><a href="#" class="tipsheet_link_tag" data-id="2"><img src="/images/games/mm2/title.png" /></a></li>
          <li><a href="#" class="tipsheet_link_tag" data-id="3"><img src="/images/games/mm3/title.png" /></a></li>
          <li><a href="#" class="tipsheet_link_tag" data-id="4"><img src="/images/games/mm4/title.png" /></a></li>
          <li><a href="#" class="tipsheet_link_tag" data-id="5"><img src="/images/games/mm5/title.png" /></a></li>
          <li><a href="#" class="tipsheet_link_tag" data-id="6"><img src="/images/games/mm6/title.png" /></a></li>
        </ul>
        <div class="right_arrow nav_arrow">
          <div class="arrow_body"></div>
          <div class="arrow_shadow"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="email_signup">
  <header>
    <h3>PROTO MAN's Weekly Blast</h3>
    <p>The latest scoops and coverage.</p>
  </header>
  <form action="" method="post">
    <div class="message_window">
      <h2></h2>
      <div></div>
      <div></div>
    </div>
    <input type="email" placeholder="Your email..." required />
    <input type="submit" value="Sign Up" />
  </form>
</section>

<section id="proto_pics">
  <div class="col1">
    <div id="slideshow_wrapper">
      <h1>PROTO <strong>SLIDESHOW</strong></h1>
      <div class="slideshow">
        <div class="left_arrow nav_arrow">
          <div class="arrow_body"></div>
          <div class="arrow_shadow"></div>
        </div>
        <ul></ul>
        <div class="right_arrow nav_arrow">
          <div class="arrow_body"></div>
          <div class="arrow_shadow"></div>
        </div>
      </div>
    </div>
  </div><!--

  --><div class="col2">
    <img src="/images/articles/proto_man_comic.png" />
  </div>
</section>

<section id="archived_2">
  <div class="col1">
    <div class="header_box">
      <h2>DOCTORS' ORDERS</h2>
    </div>
    <div class="articles">
      <div id="light" class="article_links">
        <h3>DR. LIGHT</h3>
        <ul></ul>
      </div><!--
      --><div id="wily" class="article_links">
        <h3>DR. WILY</h3>
        <ul></ul>
      </div><!--
      --><div id="cossack" class="article_links">
        <h3>DR. COSSACK</h3>
        <ul></ul>
      </div>
    </div>

    <div class="thumb_links_wrapper">
      <div id="2017" class="thumb_links">
        <h3>2017</h3>
        <ul></ul>
      </div><!--
      --><div id="games" class="thumb_links">
        <h3>GAMES</h3>
        <ul></ul>
      </div><!--
      --><div id="gallery" class="thumb_links">
        <h3>PROTO GALLERY</h3>
        <ul></ul>
      </div>
    </div>
  </div><!--

  --><div class="col2">
  </div>

  <div id="gallery_slide_layer">
    <div></div>
    <img src="" />
  </div>
</section>
