<div class="col1">
  <h1>General Info</h1>
  <ul>
    <li id="about_us">
      <h2>About Us</h2>
      <p>Proto Blog is a fake blog I made for coding practice. The general look is based on Politico. In the absence of real content I added a bunch of Mega Man stuff as placeholders.</p>
    </li>
    <li id="advertising">
      <h2>Advertising</h2>
      <h3>Contact us if you want to advertise on this fake website</h3>
      <h4>Ads | <a href="mailto:advertising@protoblog.com">advertising@protoblog.com</a></h4>
    </li>
    <li id="jobs">
      <h2>Jobs</h2>
      <p>There are currently no open positions</p>
      <h4>Jobs | <a href="mailto:jobs@protoblog.com">jobs@protoblog.com</a></h4>
    </li>
    <li id="faq">
      <h2>FAQ</h2>
      <dl>
        <dt>What is Proto Blog?</dt>
        <dd>Proto Blog isn't really a real blog.</dd>
        <dt>Why the Mega Man vibe?</dt>
        <dd>Old-school Mega Man is awesome.</dd>
      </dl>
    </li>
    <li id="feedback">
      <h2>Feedback</h2>
      <p>Contacting us would probably be a waste of your time.</p>
      <h4>Feedback | <a href="mailto:feedback@protoblog.com">feedback@protoblog.com</a></h4>
    </li>
    <li id="terms_of_service">
      <h2>Terms of Service</h2>
      <p>terms terms terms terms terms...</p>
    </li>
    <li id="privacy_policy">
      <h2>Privacy Policy</h2>
      <p>Keep it on the DL</p>
    </li>
  </ul>
</div>

<div class="col2">
  <div id="general_email_alerts">
    <div class="message_window">
      <h2></h2>
      <div></div>
      <div></div>
    </div>
    <h1>Email Alerts</h1>
    <h2>Sign up for our mailing list</h2>
    <form action="" method="post">
      <input type="email" placeholder="Your email..." required />
      <input type="submit" value="Sign Up" />
    </form>
  </div>
</div>
