colors = {
  white: #fff,
  black: #000,
  grayLightest: #E4E4E4,
  grayLighter: #CBCACA,
  grayLight: #9A9A9A,
  grayDark: #484848,
  grayDarker: #343434,
  grayDarkest: #0c0c0c,
  grayBGLight: #464C5C,
  grayBG: #22252c,
  grayFont: #999,
  blueLight: #39beff,
  blueMedium: #3290f9,
  blueDark: #0171ef,
  blueDarker: #0050aa,
  blueDarkest: #002854,
  redLight: #dc2a00,
  redDark: #951d01,
  redDarker: #791700,
  redDarkest: #500f00,
  twitterBlue: #0084b4
}
